<div>
    <label>Title</label>
    <input type="text" name="title" value="<%= books.title %>">
</div>
<div>
    <label>Author</label>
    <select name="author">
        <% authors.forEach(author => { %>
        <% if (author.id == books.author) { %>
        <option selected label="<%= author.name %>" value="<%= author.id %>"></option>
        <% } else { %>
        <option label="<%= author.name %>" value="<%= author.id %>"></option>
        <% } } ); %>
    </select>
</div>
<div>
    <label>Publish Date</label>
    <input type="date" name="publishDate"
        value="<%= books.publishDate == null ? '': books.publishDate.toISOString().split('T')[0] %>">
</div>
<div>
    <label>Page Count</label>
    <input type="number" name="pageCount" min="1" value="<%= books.pageCount %>">
</div>
<div>
    <label>Cover</label>
    <input type="file" name="cover" class="filepond">
</div>
<div>
    <label>Description</label>
    <textarea name="description"><%= books.description %></textarea>
</div>