<div>
    <h2>Author's Name: <%= books.author.name %></h2>
    <br>
    <img height="150" width="100" src="<%= books.sendCoverPath %>">
    <div>Publish Date : <%= books.publishDate.toDateString() %></div>
    <div>Page Count : <%= books.pageCount %></div>
    <div>Description : <%= books.description %></div>

</div>