<br>
<div>
    <h2 style="margin-left:20px;" class="display-4">Author's Name: <%= books.author.name %></h2>
    <br>
    <div class="container box">
        <img class="box" height="300" width="250" src="<%= books.sendCoverPath %>">
        <h3 class="thin" style="margin-top:15px;">Publish Date : <%= books.publishDate.toDateString() %></h3>
        <h3 class="thin" >Page Count : <%= books.pageCount %></h3>
        <h3 class="thin" >Description : <%= books.description %></h3>
    </div>


</div>